<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Iam_ParentMenu::parentmenu"
             title="Iam"
             translate="title"
             module="Iam_ParentMenu"
             sortOrder="20"
             dependsOnModule="Iam_ParentMenu"
             resource="Iam_RequestForm::requestform"/>

    </menu>
</config>
