<?xml version="1.0" encoding="UTF-8"?>
<web-app id="CMDBuild" version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>CMDBuild</display-name>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:org/cmdbuild/web-application-context.xml</param-value>
    </context-param>
    <context-param>
        <param-name>logbackDisableServletContainerInitializer</param-name>
        <param-value>true</param-value>
    </context-param>	
    <listener>
        <listener-class>ch.qos.logback.classic.servlet.LogbackServletContextListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.cmdbuild.webapp.LogbackConfigurationContextListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.cmdbuild.webapp.ServletContextShutdownListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.apache.commons.fileupload.servlet.FileCleanerCleanup</listener-class>
    </listener>
    <filter>
        <filter-name>BootCheckFilter</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>BootCheckFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>RequestTrackingFilter</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RequestTrackingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>LanguageFilter</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LanguageFilter</filter-name>
        <url-pattern>/services/*</url-pattern>
    </filter-mapping> 
    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>uiCacheControlFilter</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>uiCacheControlFilter</filter-name> 
        <url-pattern>/ui/*</url-pattern>
        <url-pattern>/ui_dev/*</url-pattern>
    </filter-mapping> 
    <filter>
        <filter-name>customPageFilter</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>customPageFilter</filter-name>
        <url-pattern>/ui/app/view/custompages/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>contextMenuFilter</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>contextMenuFilter</filter-name>
        <url-pattern>/ui/app/view/contextmenucomponents/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>widgetFilter</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>widgetFilter</filter-name>
        <url-pattern>/ui/app/view/widgets/custom/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>uiFilter</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>uiFilter</filter-name>
        <url-pattern>/ui/config.js</url-pattern>
        <url-pattern>/ui_dev/config.js</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>mobileLoginFilter</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>mobileLoginFilter</filter-name>
        <url-pattern>/ui/mobile/login</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>geoserverProxyFilter</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>geoserverProxyFilter</filter-name>
        <url-pattern>/services/geoserver/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>bimserverProxyFilter</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>bimserverProxyFilter</filter-name>
        <url-pattern>/services/bimserver/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>asyncJobFilter</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>asyncJobFilter</filter-name>
        <url-pattern>/services/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>etlGateFilter</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>etlGateFilter</filter-name>
        <url-pattern>/services/etl/gate/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>samlMetadataFilter</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>samlMetadataFilter</filter-name>
        <url-pattern>/services/saml/metadata</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>samlLogoutFilter</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>samlLogoutFilter</filter-name>
        <url-pattern>/services/saml/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>ws</servlet-name>
        <servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ws3rest</servlet-name>
        <servlet-class>org.cmdbuild.utils.ws3.servlet.Ws3RestRequestHandlerServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ws3rpc</servlet-name>
        <servlet-class>org.cmdbuild.utils.ws3.servlet.Ws3RpcRequestHandlerServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ws3rpc</servlet-name>
        <url-pattern>/services/rest/v3/rpc/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ws3rest</servlet-name>
        <url-pattern>/services/rest/v3/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ws</servlet-name>
        <url-pattern>/services/soap/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ws</servlet-name>
        <url-pattern>/services/rest/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>XsdSchema</servlet-name>
        <servlet-class>org.cmdbuild.servlets.XsdSchema</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>XsdSchema</servlet-name>
        <url-pattern>/services/cmdb-schema/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>org.cmdbuild.webapp.IndexServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ErrorServlet</servlet-name>
        <servlet-class>org.cmdbuild.webapp.ErrorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ErrorServlet</servlet-name>
        <url-pattern>/error</url-pattern>
    </servlet-mapping>    
    <mime-mapping>  
        <extension>webmanifest</extension>  
        <mime-type>application/manifest+json</mime-type>  
    </mime-mapping>  
    <welcome-file-list>
        <welcome-file>index</welcome-file>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/error</location>
    </error-page>
</web-app>
