 /**
  * Administration theme
  */
  $administration-base-color: dynamic(#8E8E8E); // umberto
  //$administration-base-color: dynamic(#8D8D8D); // picker
  
  $administration-action-color: dynamic(#6291A7); // umberto
  //$administration-action-color: dynamic(#68A6BF); // picker
  $administration-secondary-action-color: dynamic(#8E8E8E);

  $administration-mix-white-percentage: 0%;
 
 /**
  * Base font color
  */
 
  $administration-color: dynamic(#30373D);