/* Bootstrap - Wordpress conflicts fix
--------------------------------------------- */

.wp-admin input[type="file"] {
    padding: 0.5rem 1rem;
}

input[type="checkbox"], input[type="radio"] {
    margin: 0.25rem;
}

input[type="checkbox"]:checked::before {
    content: none;
}

.active {
    background: transparent;
}


/* Customizazion
--------------------------------------------- */

//h2 {
//    font-family: 'Open Sans', sans-serif;
//}
//
//.nav-secondary {
//    background-color: $primary;
//}
//
//.menu-icons {
//    font-size: 1.5rem;
//}
//
//.btn {
//    color: $primary;
//    font-weight: 700;
//}
//
//a.page-link {
//    color: $primary;
//}
//
//.form-group {
//    padding: 0.5rem;
//}

//img#sindria_logo {
//    height: 27px;
//    position: absolute;
//    top: 2px;
//    left: 25px;
//}

#wpadminbar {
    padding: 0;
}

#wpadminbar .quicklinks .ab-empty-item, #wpadminbar .quicklinks a, #wpadminbar .shortlink-input {
    height: 32px;
    display: inline;
    padding: 0 10px;
    margin: 0;
}

//select#language-selector {
//    border: none;
//    padding: 0px 7px 7px 7px;
//    background-color: transparent;
//    color: #ffffff;
//}

//#wpadminbar .ab-top-menu>li.hover>.ab-item, #wpadminbar.nojq .quicklinks .ab-top-menu>li>.ab-item:focus, #wpadminbar:not(.mobile) .ab-top-menu>li:hover>.ab-item, #wpadminbar:not(.mobile) .ab-top-menu>li>.ab-item:focus {
//    background: none;
//}

#wpadminbar .quicklinks .ab-top-secondary>li {
    display: flex;
}

