<?xml version="1.0"?>
<!--
/**
 * Copyright © Sindria, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Academy\News\Api\Data\NewsInterface" type="Academy\News\Model\News" />
    <preference for="Academy\News\Api\NewsRepositoryInterface" type="Academy\News\Service\NewsRepository" />
    <preference for="Academy\News\Api\NewsManagerInterface" type="Academy\News\Service\NewsManager" />

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="academy_news_listing_data_source" xsi:type="string">Academy\News\Model\ResourceModel\News\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

    <type name="Academy\News\Model\ResourceModel\News\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">academy_news</argument>
            <argument name="eventPrefix" xsi:type="string">academy_news_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">news_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Academy\News\Model\ResourceModel\News</argument>
        </arguments>
    </type>
</config>
