<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Sindria_SampleApi::sampleapi" title="Sample Api" translate="title" module="Sindria_SampleApi" sortOrder="10" dependsOnModule="Sindria_SampleApi" action="sampleapi/index/index" resource="Sindria_SampleApi::sampleapi"/>
    </menu>
</config>