<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Academy_ParentMenu::parentmenu"
             title="Academy"
             translate="title"
             module="Academy_ParentMenu"
             sortOrder="10"
             dependsOnModule="Academy_ParentMenu"
             resource="Academy_ParentMenu::parentmenu"/>
    </menu>
</config>
