<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Pipelines_ParentMenu::parentmenu"
             title="Pipelines"
             translate="title"
             module="Pipelines_ParentMenu"
             sortOrder="10"
             dependsOnModule="Pipelines_ParentMenu"
             resource="Pipelines_ParentMenu::parentmenu"/>

    </menu>
</config>
