<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Pipelines_TemplateStore::templatestore"
             title="Template Store"
             translate="title"
             module="Pipelines_TemplateStore"
             sortOrder="20"
             dependsOnModule="Pipelines_ParentMenu"
             parent="Pipelines_ParentMenu::parentmenu"
             action="templatestore/index"
             resource="Pipelines_TemplateStore::templatestore"/>
    </menu>
</config>
