<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\App\FrontControllerInterface">
        <plugin name="querybuilder_init_plugin" type="Core\QueryBuilder\Plugin\InitQueryBuilderPlugin" sortOrder="1" />
    </type>
</config>
