<?xml version="1.0" encoding="UTF-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <templatecatalog>
            <general>
                <enabled>1</enabled>
            </general>
            <images_uploader>
                <allowed_files>jpeg,jpg,png,gif</allowed_files>
                <folder>pipe_templatecatalog</folder>
            </images_uploader>
        </templatecatalog>
    </default>
</config>
