#wpadminbar, #adminmenuwrap, #adminmenuback, .wp-has-submenu, .wp-not-current-submenu, .wp-menu-name, #collapse-button {
    background-color: #434343;
}
#adminmenu li.wp-menu-separator {

    margin: 0;
}

#wpadminbar {
    font-size: 20px;
    padding: 0.5rem 0.2rem;
    text-transform: uppercase;

}

.ab-top-menu {
    text-transform: uppercase;

}
