<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Support_ServiceDesk::support" title="Support" sortOrder="10">
                    <resource id="Support_ServiceDesk::servicedesk" title="Service Desk" sortOrder="10">
                        <resource id="Support_ServiceDesk::listpipelines" title="List Pipelines" sortOrder="10"/>
                        <resource id="Support_ServiceDesk::searchpipelines" title="Search Pipelines" sortOrder="20"/>
                        <resource id="Support_ServiceDesk::listruns" title="List Pipeline Runs" sortOrder="30"/>
                        <resource id="Support_ServiceDesk::searchruns" title="Search Runs" sortOrder="40"/>
                        <resource id="Support_ServiceDesk::showlogs" title="Show Logs" sortOrder="50"/>
                        <resource id="Support_ServiceDesk::newrun" title="Stop Run" sortOrder="60"/>
                        <resource id="Support_ServiceDesk::stoprun" title="Stop Run" sortOrder="70"/>
                        <resource id="Support_ServiceDesk::deleterun" title="Delete Run" sortOrder="80"/>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
