<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
    
	<appender name="STDOUT2" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%msg%n</pattern>
		</encoder>
	</appender>
  
        <!-- Uncomment this to log stuff on attributes serialization -->
	<!-- <logger name="org.cmdbuild.service.rest.common.serializationhelpers" level="DEBUG"/> -->
	
	<logger name="org.cmdbuild.utils.tomcatmanager.LogFollow" level="INFO" additivity="false" >
		<appender-ref ref="STDOUT2" />
	</logger>

	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>