.layerTreeCls .x-tree-icon-leaf{
    display: none;
}
.layerTreeCls .x-tree-icon-custom {
    background-size: contain;
    display: inline-grid;
    align-items: center;
    justify-content: center;
}