.navigationTreeCls .x-tree-icon-parent-expanded{
    display: none;
}
.navigationTreeCls .x-tree-icon-parent{
    display: none;
} 
.x-fas.fa-arrow-circle-right.NavigationTree {
    color: $main-color-primary
}
.navigationTreeCls .x-tree-icon-leaf{
    display: none;
}