<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\App\FrontControllerInterface">
        <plugin name="pipe_disable_web_routes" type="Pipe\DisableWebRoutes\Plugin\NoWebRoutesPlugin" />
    </type>
</config>
