<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Pipelines_PipeManager::pipelines">
                    <resource id="Pipelines_DedicatedForm::dedicatedform" title="Dedicated Form" sortOrder="10">
                        <resource id="Pipelines_DedicatedForm::form" title="Show Dedicated Form" sortOrder="20"/>
                        <resource id="Pipelines_DedicatedForm::submit" title="Submit Dedicated Form" sortOrder="30"/>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
