<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
<!--        <resources>-->
<!--            <resource id="Magento_Backend::admin">-->
<!--                <resource id="Pipelines_DeployMinecraftKubernetes::deployminecraftkubernetes" title="Deploy Minecraft Kubernetes" sortOrder="90"/>-->
<!--            </resource>-->
<!--        </resources>-->

        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Iam_RequestForm::iam" title="Iam" sortOrder="10">
                    <resource id="Iam_RequestForm::requestform" title="Request Form" sortOrder="10">
                        <resource id="Iam_RequestForm::form" title="Show Request Form" sortOrder="20"/>
                        <resource id="Iam_RequestForm::submit" title="Submit Request Form" sortOrder="30"/>
                    </resource>
                </resource>
            </resource>
        </resources>


    </acl>
</config>
