<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Pipelines_FormTemplate::formtemplate" title="Mock" translate="title" module="Pipelines_FormTemplate" sortOrder="10" dependsOnModule="Pipelines_FormTemplate" action="formtemplate/index" resource="Pipelines_FormTemplate::formtemplate"/>
    </menu>
</config>
