/**
 * Main colors palette
 */
$main-color-dark: dynamic(#241c15);
$main-color-dark-border: dynamic(#77736f);
$main-color-primary: dynamic(#c95000);
$main-color-primary-over: dynamic(#ff893a);
$main-color-primary-pressed: dynamic(#d07605);
$main-color-primary-disabled: dynamic(#dbb88b);
$main-color-primary-text: dynamic(#ffffff);
$main-color-primary-disabled-text: dynamic(#999999);
$main-color-secondary: dynamic(#222222);
$main-color-secondary-over: dynamic(#444444);
$main-color-secondary-pressed: dynamic(#777777);
$main-color-secondary-disabled: dynamic(#f0f0f0);
$main-color-secondary-text: dynamic(#ffffff);
$main-color-secondary-disabled-text: dynamic(#999999);
$main-color-selection: dynamic(#f2ede2);

/**
 * Neutral colors palette
 */
$main-neutral-black: dynamic(#000000);
$main-neutral-gray-1: dynamic(#222222);
$main-neutral-gray-2: dynamic(#444444);
$main-neutral-gray-3: dynamic(#777777);
$main-neutral-gray-4: dynamic(#999999);
$main-neutral-gray-5: dynamic(#cccccc);
$main-neutral-gray-6: dynamic(#e0e0e0);
$main-neutral-gray-7: dynamic(#f0f0f0);
$main-neutral-gray-bg: dynamic(#f7f8fa);
$main-neutral-white: dynamic(#ffffff);

/**
 * Base font color
 */
$color: dynamic($main-neutral-gray-1);
$color-light: dynamic($main-neutral-gray-4);

/**
 * Move into CMDBuild theme
 */
$base-color: dynamic($main-color-dark);
