<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Sindria_Backend::content_components" title="Components" translate="title" module="Sindria_Backend" sortOrder="30" parent="Magento_Backend::content" resource="Magento_Backend::content"/>
    </menu>
</config>
