<?xml version="1.0"?>
<!--
/**
 * Copyright © Sindria, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Backend\App\Action\Context" type="Sindria\Auth\App\Action\Context" />
    <preference for="Magento\Backend\Controller\Adminhtml\Auth\Login" type="Sindria\Auth\Controller\Adminhtml\Auth\Login" />
</config>
