<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Pipelines_PipeManager::pipemanager"
             title="Pipelines"
             translate="title"
             module="Pipelines_PipeManager"
             sortOrder="10"
             dependsOnModule="Pipelines_PipeManager"
             resource="Pipelines_PipeManager::pipemanager"/>
        <add id="Pipelines_PipeManager::pipelines"
             title="Pipelines"
             translate="title"
             module="Pipelines_PipeManager"
             sortOrder="10"
             dependsOnModule="Pipelines_PipeManager"
             parent="Pipelines_PipeManager::pipemanager"
             action="pipemanager/index"
             resource="Pipelines_PipeManager::pipelines"/>
    </menu>
</config>
