<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Magento\Framework\Webapi\ServiceOutputProcessor" type="Iam\Groups\Model\ServiceOutputProcessor" />
    <preference for="Iam\Groups\Api\Data\StatusResponseInterface" type="Iam\Groups\Model\StatusResponse"/>

    <preference for="Iam\Groups\Api\Data\GroupRepositoryInterface" type="Iam\Groups\Repository\GroupRepository"/>
    <preference for="Iam\Groups\Api\Data\UserGroupRepositoryInterface" type="Iam\Groups\Repository\UserGroupRepository"/>
</config>
