<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Webapi\Rest\Request\Deserializer\Json">
        <plugin name="usersmeta_custom_json_validator_plugin" type="Iam\UsersMeta\Plugin\JsonDeserializerPlugin" />
    </type>

</config>
