.relgraph-tip {
    padding: 5px;
    color: #fff;
    text-align: center;
    &.relgraph-tip-node {
        background-color: $base-color;
    }
    &.relgraph-tip-relation {
        background-color: $tip-background-color;
    }
    &.relgraph-tip-attributes {
        margin-top: 5px;
        font-size: 90%;
    }
}
