HELP.md

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Maven
/.m2
dependency-reduced-pom.xml

# OpenJDK
/jdk-17.0.2

# Docker
.env
docker-compose.yml

# Storage
storage/*
!storage/data/
storage/data/*
!storage/data/.gitkeep
!storage/logs/
storage/logs/*
!storage/logs/.gitkeep

# App