@font-face {
  font-family: 'cmdbuildicons';
  src: url('../font/cmdbuildicons.eot?92406806');
  src: url('../font/cmdbuildicons.eot?92406806#iefix') format('embedded-opentype'),
       url('../font/cmdbuildicons.woff2?92406806') format('woff2'),
       url('../font/cmdbuildicons.woff?92406806') format('woff'),
       url('../font/cmdbuildicons.ttf?92406806') format('truetype'),
       url('../font/cmdbuildicons.svg?92406806#cmdbuildicons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'cmdbuildicons';
    src: url('../font/cmdbuildicons.svg?92406806#cmdbuildicons') format('svg');
  }
}
*/
[class^="cmdbuildicon-"]:before, [class*=" cmdbuildicon-"]:before {
  font-family: "cmdbuildicons";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.cmdbuildicon-list-alt:before { content: '\e800'; } /* '' */
.cmdbuildicon-default-bim:before { content: '\e801'; } /* '' */
.cmdbuildicon-filter-remove:before { content: '\e802'; } /* '' */
.cmdbuildicon-list-alt-remove:before { content: '\e803'; } /* '' */
.cmdbuildicon-side-bim:before { content: '\e804'; } /* '' */
.cmdbuildicon-top-bim:before { content: '\e805'; } /* '' */
.cmdbuildicon-front-bim:before { content: '\e806'; } /* '' */
.cmdbuildicon-perspective:before { content: '\e807'; } /* '' */
.cmdbuildicon-stopwatch:before { content: '\e808'; } /* '' */
.cmdbuildicon-filter:before { content: '\e809'; } /* '' */
.cmdbuildicon-list:before { content: '\e80a'; } /* '' */
.cmdbuildicon-save:before { content: '\e80c'; } /* '' */
.cmdbuildicon-gis-showinfo:before { content: '\e80e'; } /* '' */
.cmdbuildicon-gis-hideinfo:before { content: '\e80f'; } /* '' */
.cmdbuildicon-orthographic:before { content: '\e810'; } /* '' */
.cmdbuildicon-processparent:before { content: '\e811'; } /* '' */
.cmdbuildicon-classparent:before { content: '\e812'; } /* '' */
.cmdbuildicon-planimetry:before { content: '\e813'; } /* '' */
.cmdbuildicon-envelope-sent-o:before { content: '\e814'; } /* '' */
.cmdbuildicon-move:before { content: '\f047'; } /* '' */
.cmdbuildicon-stop-circle:before { content: '\f28d'; } /* '' */
.cmdbuildicon-envelope-open-o:before { content: '\f2b7'; } /* '' */
.cmdbuildicon-relgraph:before { content: '\f527'; } /* '' */

.cmdbuildicon-stopwatch, .cmdbuildicon-relgraph, .cmdbuildicon-perspective, .cmdbuildicon-orthographic, .cmdbuildicon-side-bim, .cmdbuildicon-top-bim, .cmdbuildicon-front-bim, .cmdbuildicon-default-bim,.cmdbuildicon-filter, .cmdbuildicon-filter-remove{
  width: 25px!important;
  margin-left: -5px !important;
}
.cmdbuild-customnavicon{
  line-height: 30px;
}

.cmdbuildicon-classparent::before, .cmdbuildicon-processparent::before {  
  line-height: 25px;
}

.cmdbuildicon-save {
  margin-right: 0px;
  margin-left: 0px;
}