<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Academy_SampleApi::sampleapi"
             title="Sample Api" translate="title"
             module="Academy_SampleApi"
             sortOrder="20"
             dependsOnModule="Academy_ParentMenu"
             parent="Academy_ParentMenu::parentmenu"
             action="sampleapi/index/index"
             resource="Academy_SampleApi::sampleapi" />
    </menu>
</config>