:root{
	--text-color: #222;
	--base-color: #fff;
	--icon-color: #777;
	--highlight-color: #19be96;
	--notification-color: #81d742;

	--button-text-color: #fff;

	--menu-highlight-background: #f1f1f1;
	--menu-highlight-text: var(--highlight-color);
	--menu-highlight-icon: var(--highlight-color);
	--menu-submenu-focus-text: var(--highlight-color);

	--menu-bubble-text: #fff;
}