<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Support_ServiceDesk::support"
             title="Service Desk"
             translate="title"
             module="Support_ServiceDesk"
             sortOrder="10"
             dependsOnModule="Support_ParentMenu"
             parent="Support_ParentMenu::parentmenu"
             action="servicedesk/index"
             resource="Support_ServiceDesk::support"/>
    </menu>
</config>
