<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{YYYY-MM-dd'T'HH:mm:ss.SSSXXX} [%X{cm_id:-system}] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="SQL" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%n%msg%n%n</pattern>
        </encoder>
    </appender>

    <!-- Uncomment the following line to view WS fetching debug messages -->
    <logger name="org.cmdbuild.service.rest.v3.model" level="DEBUG"/>
  
    <root level="WARN">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>