@include extjs-button-ui(
    $ui: 'management-action-small',

    $border-color: $action-color,
    $border-color-over: button-default-border-color-over($action-color),
    $border-color-focus: button-default-border-color-focus($action-color),
    $border-color-pressed: button-default-border-color-pressed($action-color),
    $border-color-focus-over: button-default-border-color-over($action-color),
    $border-color-focus-pressed: button-default-border-color-pressed($action-color),
    $border-color-disabled: button-default-border-color-disabled($action-color),

    $padding: $button-small-padding,
    $text-padding: $button-small-text-padding,

    $background-color: $action-color,
    $background-color-over: button-default-background-color-over($action-color),
    $background-color-focus: button-default-background-color-focus($action-color),
    $background-color-pressed: button-default-background-color-pressed($action-color),
    $background-color-focus-over: button-default-background-color-over($action-color),
    $background-color-focus-pressed: button-default-background-color-pressed($action-color),
    $background-color-disabled: button-default-background-color-disabled($action-color),

    $color: $button-default-color,
    $color-over: $button-default-color-over,
    $color-focus: $button-default-color-focus,
    $color-pressed: $button-default-color-pressed,
    $color-focus-over: $button-default-color-focus-over,
    $color-focus-pressed: $button-default-color-focus-pressed,
    $color-disabled: $button-default-color-disabled,

    $font-size: $button-small-font-size,
    $font-size-over: $button-small-font-size-over,
    $font-size-focus: $button-small-font-size-focus,
    $font-size-pressed: $button-small-font-size-pressed,
    $font-size-focus-over: $button-small-font-size-focus-over,
    $font-size-focus-pressed: $button-small-font-size-focus-pressed,
    $font-size-disabled: $button-small-font-size-disabled,

    $font-weight: $button-small-font-weight,
    $font-weight-over: $button-small-font-weight-over,
    $font-weight-focus: $button-small-font-weight-focus,
    $font-weight-pressed: $button-small-font-weight-pressed,
    $font-weight-focus-over: $button-small-font-weight-focus-over,
    $font-weight-focus-pressed: $button-small-font-weight-focus-pressed,
    $font-weight-disabled: $button-small-font-weight-disabled,

    $font-family: $button-small-font-family,
    $font-family-over: $button-small-font-family-over,
    $font-family-focus: $button-small-font-family-focus,
    $font-family-pressed: $button-small-font-family-pressed,
    $font-family-focus-over: $button-small-font-family-focus-over,
    $font-family-focus-pressed: $button-small-font-family-focus-pressed,
    $font-family-disabled: $button-small-font-family-disabled,

    $icon-size: $button-small-icon-size,
    $glyph-font-size: $button-small-icon-size,
    $line-height: $button-small-line-height,
    $icon-spacing: $button-small-icon-spacing,
    $glyph-color: $button-default-color,
    $glyph-opacity: $button-default-glyph-opacity,
    $arrow-width: $button-small-arrow-width,
    $arrow-height: $button-small-arrow-height,
    $arrow-glyph: $button-small-arrow-glyph,
    $arrow-glyph-color: $button-default-color,
    $split-width: $button-small-split-width,
    $split-height: $button-small-split-height,
    $split-line-width: $button-small-split-line-width,
    $split-line-color: $button-default-split-line-color,
    $opacity-disabled: $button-opacity-disabled,
    $inner-opacity-disabled: $button-inner-opacity-disabled
);

@include extjs-button-ui(
    $ui: 'secondary-action-small',

    $border-color: $secondary-action-color,
    $border-color-over: button-default-border-color-over($secondary-action-color),
    $border-color-focus: button-default-border-color-focus($secondary-action-color),
    $border-color-pressed: button-default-border-color-pressed($secondary-action-color),
    $border-color-focus-over: button-default-border-color-over($secondary-action-color),
    $border-color-focus-pressed: button-default-border-color-pressed($secondary-action-color),
    $border-color-disabled: button-default-border-color-disabled($secondary-action-color),

    $padding: $button-small-padding,
    $text-padding: $button-small-text-padding,

    $background-color: $secondary-action-color,
    $background-color-over: button-default-background-color-over($secondary-action-color),
    $background-color-focus: button-default-background-color-focus($secondary-action-color),
    $background-color-pressed: button-default-background-color-pressed($secondary-action-color),
    $background-color-focus-over: button-default-background-color-over($secondary-action-color),
    $background-color-focus-pressed: button-default-background-color-pressed($secondary-action-color),
    $background-color-disabled: button-default-background-color-disabled($secondary-action-color),

    $color: $button-default-color,
    $color-over: $button-default-color-over,
    $color-focus: $button-default-color-focus,
    $color-pressed: $button-default-color-pressed,
    $color-focus-over: $button-default-color-focus-over,
    $color-focus-pressed: $button-default-color-focus-pressed,
    $color-disabled: $button-default-color-disabled,

    $font-size: $button-small-font-size,
    $font-size-over: $button-small-font-size-over,
    $font-size-focus: $button-small-font-size-focus,
    $font-size-pressed: $button-small-font-size-pressed,
    $font-size-focus-over: $button-small-font-size-focus-over,
    $font-size-focus-pressed: $button-small-font-size-focus-pressed,
    $font-size-disabled: $button-small-font-size-disabled,

    $font-weight: $button-small-font-weight,
    $font-weight-over: $button-small-font-weight-over,
    $font-weight-focus: $button-small-font-weight-focus,
    $font-weight-pressed: $button-small-font-weight-pressed,
    $font-weight-focus-over: $button-small-font-weight-focus-over,
    $font-weight-focus-pressed: $button-small-font-weight-focus-pressed,
    $font-weight-disabled: $button-small-font-weight-disabled,

    $font-family: $button-small-font-family,
    $font-family-over: $button-small-font-family-over,
    $font-family-focus: $button-small-font-family-focus,
    $font-family-pressed: $button-small-font-family-pressed,
    $font-family-focus-over: $button-small-font-family-focus-over,
    $font-family-focus-pressed: $button-small-font-family-focus-pressed,
    $font-family-disabled: $button-small-font-family-disabled,

    $icon-size: $button-small-icon-size,
    $glyph-font-size: $button-small-icon-size,
    $line-height: $button-small-line-height,
    $icon-spacing: $button-small-icon-spacing,
    $glyph-color: $button-default-color,
    $glyph-opacity: $button-default-glyph-opacity,
    $arrow-width: $button-small-arrow-width,
    $arrow-height: $button-small-arrow-height,
    $arrow-glyph: $button-small-arrow-glyph,
    $arrow-glyph-color: $button-default-color,
    $split-width: $button-small-split-width,
    $split-height: $button-small-split-height,
    $split-line-width: $button-small-split-line-width,
    $split-line-color: $button-default-split-line-color,
    $opacity-disabled: $button-opacity-disabled,
    $inner-opacity-disabled: $button-inner-opacity-disabled
);

.#{$prefix}field.management-input {
    .#{$prefix}form-trigger-wrap-default {
        border-color: $action-color;
    }
    .#{$prefix}form-trigger-default {
        color: $action-color;
    }
}